h1{
    background-color:rgb(236, 14, 14);
    border-radius: 30px;
    text-align: center;
    margin: 30px;
    padding:10px;
}

body{
    background-color:rgb(255, 253, 253) ;
    direction: rtl;
    text-align: right;

}
h2{
    color: rgb(255, 255, 255);
    background-color: rgb(6, 22, 255);
    text-align:center ;
    border-radius: 10px;
}
p{
    color: rgb(255, 255, 255);
direction: rtl;        text-align:center;
}
div ul li a{
    color: rgb(0, 0, 0);
    padding: 30px;
    text-decoration: none;
}
div ul li{
    list-style: none;
    color: rgb(3, 3, 3);
}
div ul{
    margin: 20px;
}
parent{
    background-color: rgb(204, 0, 255);
    width: 100%;
}
.parent div{
    margin: 1%;
width: calc(92% / 4);
background-color:violet;
float:left ;
border-start-start-radius: 20px;
border-end-end-radius: 20px;
text-align: center;
}
img{
    width: 80%;
 border: radius 10px; 
 padding: 10%;
 text-align: center;
}
.username{
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
}
      

